@model Tarefa

<h2>Nova Tarefa</h2>
<div asp-validation-summary="All" class="text-danger"></div>

<form asp-action="Adicionar" asp-controller="Home" method="post">

    <div class="mb-3">
        <label asp-for="Descricao" class="form-label">Descrição</label>
        <input asp-for="Descricao" class="form-control" />
    </div>

    <div class="mb-3">
        <label asp-for="CategoriaId" class="form-label">Categoria:</label>
        <select asp-for="CategoriaId" class="form-select" asp-items="@(new SelectList(ViewBag.Categorias, "CategoriaId", "Nome"))">
            <option value=""></option>
        </select>

    </div>

    <div class="mb-3">
        <label asp-for="DataDeVencimento" class="form-label">Data de Vencimento</label>
        <input type="text" asp-for="DataDeVencimento" class="form-control" />
    </div>

    <div class="mb-3">
        <label class="form-label">Situação:</label>
        <select asp-for="StatusId" class="form-select" asp-items="@(new SelectList(ViewBag.Status, "StatusId", "Nome"))"></select>

    </div>

    <button type="submit" class="btn btn-primary">Adicionar</button>
    <a asp-action="Index" class="btn btn-primary">Cancelar</a>

</form>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
    $(document).ready(function () {
        $('#DataDeVencimento').on('input', function (e) {
            let inputValue = $(this).val();
            let formattedValue = formatarData(inputValue);
            $(this).val(formattedValue);
        });

        function formatarData(inputValue) {

            let numericValue = inputValue.replace(/\D/g, '');

            numericValue = numericValue.slice(0, 8);

            let formattedValue = '';

            if (numericValue.length > 0) {
                formattedValue += numericValue.substring(0, 2);

                if (numericValue.length > 2) {
                    formattedValue += '/' + numericValue.substring(2, 4);

                    if (numericValue.length > 4) {
                        formattedValue += '/' + numericValue.substring(4, 8);
                    }
                }
            }

            return formattedValue;
        }
    });
</script>
